*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
}

body {
    font-family: 'embed code';
    color: red;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}


.foto {
    width: 50%;
    height: auto;
    margin: 3%;
}